header {
    display: flex;
    position: relative;
    z-index: 0;
    height: 278px;
    overflow: hidden;
    background-position: 0 65%;
    background-size: cover;
    background-image: url('../images/header5a.jpg');
}
