#{extends 'main.html' /}
#{set title:'Home' /}

<header>
    <h1>Header</h1>
</header>
Header image courtesy of <a href="https://www.flickr.com/photos/fsnorthernregion/25571229297">Forest Service Northern Region</a>
